/* Global styles */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
  margin: 0;
}

h1, h2 {
  font-family: 'sans-serif';
  font-weight: 400;
}
h1 {
  font-size: 80px;
}
h2 {
  font-size: 40px;
  margin-top: 0;
}
.content-wrap {
  max-width: 950px;
  margin: 0 auto;
  padding: 50px;
  overflow: hidden;
}

.column-narrow {
  width: 35%;
  float: left;
  padding-right: 3%;
  min-height: 175px;
}
.column-wide {
  width: 62%;
  float: left;
  min-height: 175px;
}

.contact-info{
    align-content: center;
}

/* Header & Footer */
header
{
    background-color:white;
    color:#3e3e3e;
}
footer {
  background-color:#111344;
  color: white;
}

header h1,
header h2 {
    color: white;
    margin: 0;
}

/* Header styles only */
header {
  /*text-align: center;*/
}
.profile-img {
  /*width: 300px;*/
  border-radius: 50%;
  /*float: left;*/
  /*margin-right: 30px;*/
}

/* Footer styles only */
footer {
  text-align: center;
}

/* Work Experience*/
.work {
    background:#a12;
    color:white;
}


/* Education*/
.education {
    background: white;
}
