/* Global styles */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
  margin: 0;
}

h1, h2 {
  font-family: 'sans-serif';
  font-weight: 400;
}
h1 {
  font-size: 80px;
}
h2 {
  font-size: 40px;
  margin-top: 0;
}

section {
  align-content: center;
}
.content-wrap {
  max-width: 950px;
  margin: 0 auto;
  padding: 50px;
  overflow: hidden;
}

.column-narrow {
  width: 35%;
  float: left;
  padding-right: 3%;
  min-height: 175px;
}
.column-wide {
  width: 62%;
  float: left;
  min-height: 175px;
}

.contact-info{
    align-content: center;
}

/* Header & Footer */
header
{
    background-color:white;
    color:#3e3e3e;
}
footer {
  background-color:#111344;
  color:whitesmoke;
}

header h1,
header h2 {
    color:whitesmoke;
    margin: 0;
}


.profile-img {
  /*width: 300px;*/
  border-radius: 45%;
  /*float: left;*/
  /*margin-right: 30px;*/
}

.top {
    color:black;
    position:absolute;
    z-index:1;
    width:100%;
}

/* Footer styles only */
footer {
  text-align: center;
}

/* Work Experience*/
.work {
    background:#a12;
    position:static;
    color:whitesmoke;
}

/* Work Experience*/
.character {
    background:white;
    position:static;
    color:black;
}

/* Education */
.education {
    color:whitesmoke;
    position:absolute;
    z-index:1;
    width:100%;
}

/* ---- particles.js  ---- */
#particles-js{
  width: 100%;
  height: 100%;
  background-image: url('');
  background-size: cover;
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-color:black;
  z-index:-1;
}



/* ---- particles.js  ---- */
#particles-jstop{
  width: 100%;
  height: 100%;
  background-image: url('');
  background-size: cover;
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-color:white;
  z-index:-1;
}
