.mapboxgl-map {
  height: 100% !important;
  width: 100% !important;
  left: 0px !important;
}

.gtitle {
  word-wrap: break-word;
}

.container_wide {
  width:90%; 
}


.dash-graph {
  padding-bottom: 55px;
}
